.App {
  display: flex;
  margin: 2% 10%;
  min-height: 85vh;
  max-height: 90vh;
  text-align: center;
  &__left {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 30px;
    background-color: white;
    border: 1px solid gray;
    h3 {
      border-bottom: 1px solid currentColor;
      padding-bottom: 20px;
      width: 50%;
      align-self: center;
    }
    #app-description {
      margin: 20px;
      padding: 0 10px;
    }
    input {
      height: 30px;
      margin: 10px 20px;
      width: 40%;
      align-self: center;
      text-align: center;
    }
    button {
      display: flex;
      align-self: center;
      width: 70%;
      justify-content: center;
    }
    button:disabled:hover {
      background-color: white;
      color: black;
      opacity: 0.3;
    }
  }
  &__right {
    display: flex;
    background-color: white;
    width: 70%;
    flex-direction: column;
    border: 1px solid gray;
    .right-header-section {
      display: flex;
      justify-content: flex-end;
      margin: 10px;
      .clear-button {
        margin-right: 10px;
        border: 2px solid black;
        border-radius: 8px;
      }
      .clear-button:hover {
        background-color: red;
      }
      .order-contacts {
        display: flex;
        margin-right: 10px;
        align-self: center;
        font-size: 16px;
        border: 2px solid black;
        border-radius: 8px;
        height: 40px;
      }
    }
    .headers-for-phones {
      display: flex;
      border-bottom: 1px solid gray;
      border-top: 1px solid gray;
      &__index {
        width: 30%;
      }
      &__number {
        width: 70%;
      }
    }
    .contacts-table-list {
      overflow-y: scroll;
      .phone-list-table {
        display: flex;
        padding: 0 20px;
        &__left {
          width: 30%;
          p {
            border-bottom: 1px solid gray;
            padding-bottom: 2px;
          }
        }
        &__right {
          width: 70%;
          p {
            border-bottom: 1px solid gray;
            padding-bottom: 2px;
          }
        }
      }
    }
  }
  button {
    background-color: white;
    height: 40px;
    color: black;
    font-size: 16px;
  }
  button:hover {
    cursor: pointer;
    background: black;
    color: white;
  }
}

#app-title {
  text-align: center;
  font-size: 30px;
  line-height: 20px;
}
